{{>navbar}}

<div class="container">
	<div class="card-columns">
		{{#each articles}}
		<div class="card">
			<img src="{{image}}" alt="" class="card-img-top">
			<div class="card-body">
				<a href="{{url}}"><p class="card-title">{{title}}</p></a>
				{{#if saved}}
					<a href="#" id="{{_id}}" class="unsave btn btn-danger">Unsave</a>
				{{else}}
					<a href="#" id="{{_id}}" class="save btn btn-primary">Save for Later</a>
				{{/if}}
			</div>
		</div>
		{{/each}}
	</div>
</div>