{{>navbar}}

<h1>HELLO SAVED</h1>

<div class="container">
	<div class="card-columns">
		{{#each articles}}
		<div class="card">
			<img src="{{image}}" alt="" class="card-img-top">
			<div class="card-body">
				<a href="{{url}}"><p class="card-title">{{title}}</p></a>
				<a href="#" id="{{_id}}" class="unsave btn btn-danger">Delete</a>
				<a href="#" id="{{_id}}" class="note btn btn-danger">Notes</a>
			</div>
		</div>
		{{!-- {{>modal}} --}}
		<div class="modal modal-{{_id}}" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">{{title}}</h5>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
				  {{!-- <label for={{_id}}>Enter your notes here</label> --}}
				  <div class="notes-group">
				  {{#each notes}}
				  	<p class="note-entry">{{body}}</p><span class="note-entry" aria-hidden="true">&times;</span>
				  {{/each}}
				  </div>
				  <textarea class="note-{{_id}} form-control" id="{{_id}}" rows="3"></textarea>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="{{_id}}" class="save-note btn btn-primary">Save Note</button>
		        {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
		      </div>
		    </div>
		  </div>
		</div>
		{{/each}}
	</div>
</div>

